<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <!-- Basic web settings -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- Peppol AS4 Configuration -->
    <!-- Certificate Configuration -->
    <add key="PeppolP12FilePath" value="~/App_Data/certificates/peppol-ap-certificate.p12" />
    <add key="PeppolP12Password" value="YOUR_CERTIFICATE_PASSWORD" />
    <add key="PeppolCertificateThumbprint" value="YOUR_CERTIFICATE_THUMBPRINT" />
    
    <!-- Peppol Network Configuration -->
    <add key="PeppolDomain" value="peppol-ap.example.com" />
    <add key="PeppolAccessPointId" value="PAPSGXXXXXXXX" />
    <add key="PeppolPartyType" value="urn:fdc:peppol.eu:2017:identifiers:ap" />
    
    <!-- Peppol SMP/SML Configuration -->
    <add key="PeppolSmpDomain" value="http://b-{0}.iso6523-actorid-upis.acc.edelivery.tech.ec.europa.eu" />
    <add key="PeppolSmlDomain" value="edelivery.tech.ec.europa.eu" />
    <add key="PeppolTestNetwork" value="true" />
    
    <!-- Peppol Storage Configuration -->
    <add key="PeppolInboundStoragePath" value="~/App_Data/As4Inbound" />
    <add key="PeppolLogPath" value="~/App_Data/Logs" />
    <add key="EnableFileSystemPersistence" value="true" />
    
    <!-- SMP Configuration -->
    <add key="SmpDomain" value="smp-test.peppol.org" />
    <add key="SmlDomain" value="smk.test.peppol.org" />
    <add key="UsePeppolTestNetwork" value="true" />
    
    <!-- AS4 Configuration -->
    <add key="AS4ProcessingMode" value="PeppolAS4Profile" />
    <add key="EnableCompression" value="true" />
    <add key="EnableEncryption" value="true" />
    <add key="EnableSignature" value="true" />
    
    <!-- Security Configuration -->
    <add key="SignatureAlgorithm" value="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256" />
    <add key="HashFunction" value="http://www.w3.org/2001/04/xmlenc#sha256" />
    <add key="EncryptionAlgorithm" value="http://www.w3.org/2009/xmlenc11#aes128-gcm" />
    <add key="KeyTransportAlgorithm" value="http://www.w3.org/2009/xmlenc11#rsa-oaep" />
    
    <!-- Reception Awareness Configuration -->
    <add key="ReceptionAwareness" value="true" />
    <add key="RetryCount" value="3" />
    <add key="RetryInterval" value="5000" />
    <add key="DuplicateDetection" value="true" />
    <add key="DuplicateDetectionPeriod" value="86400" />
    
    <!-- Error Handling Configuration -->
    <add key="SendReceiptSynchronously" value="true" />
    <add key="SendErrorSynchronously" value="true" />
    <add key="NonRepudiationReceipts" value="true" />
    
    <!-- Message Storage Configuration -->
    <add key="MessageStorePath" value="~/App_Data/messages" />
    <add key="MetadataStorePath" value="~/App_Data/metadata" />
    <add key="LogStorePath" value="~/App_Data/logs" />
  </appSettings>

  <!-- Log4Net Configuration -->
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="App_Data/logs/peppol-as4.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline" />
      </layout>
    </appender>
    
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline" />
      </layout>
    </appender>
    
    <logger name="PeppolSG.API">
      <level value="DEBUG" />
    </logger>
    
    <root>
      <level value="INFO" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="51200" executionTimeout="300" />
    
    <!-- Security Headers -->
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error" />
    
    <!-- Session Configuration -->
    <sessionState mode="InProc" cookieless="false" timeout="20" />
  </system.web>

  <system.webServer>
    <!-- IIS Configuration -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    
    <!-- Handler Configuration -->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    
    <!-- HTTP Headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
      </customHeaders>
    </httpProtocol>
    
    <!-- URL Rewrite Rules for AS4 Endpoint -->
    <rewrite>
      <rules>
        <rule name="AS4Endpoint" stopProcessing="true">
          <match url="^as4$" />
          <action type="Rewrite" url="api/as4" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <!-- WCF Configuration for AS4 SOAP -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AS4Binding" maxReceivedMessageSize="52428800" transferMode="Buffered">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>